.col-12.col-md-4
  .card
    = image_tag publication.image.url, class: "card-img-top"
    .card-body
      %h3.card-title=publication.title
      %p.card-text=publication.content.truncate_words(10)
    .card-footer
      = link_to "Read", publication, class: "btn btn-primary"
      = link_to "Edit", edit_publication_path(publication), class: "btn btn-warning"
      = link_to "Delete", publication, method: 'delete', class: 'btn btn-danger', data: {confirm: 'Are you sure?'}
