.row
  .col-12.col-md-10.offset-md-1
    - if Publication.count == 0
      .alert.alert-notice
        No publications yet
        = link_to "Create the first", new_publication_path, class: "btn btn-dark"
    - else
      = render 'publications/publication_details', publication: Publication.last

      -if @latest_publications
        %h3 Last publications
        .row.mb-4
          = render @latest_publications
