%nav.navbar.navbar-expand-md.navbar-light.bg-light
  = link_to "Fotolog", root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => t('.toggle_description'), "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: active_class(root_path)}
        = link_to "All publications", publications_path, class: "nav-link"
      %li.nav-item{class: active_class(root_path)}
      = link_to "Upload publication", new_publication_path, class: "nav-link"
